* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
	padding-left: 20px;
	padding-right: 20px;
}

header {
	color: #304344;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.wrap {
	padding:20px;
	float: left;
	height: 100%;
}

.menu {
	border: 1px solid #415455;
	overflow: auto;
	background: #dfdddf;
	position: relative;
	padding: 40px 20px 10px 20px;
}

div.sup {
	color:#ddd;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	height: 30px;
	width: 120px;
	top:0;
	right:0;
	border-left: 1px solid #415455;
	border-bottom: 1px solid #415455;
}

div.s1 {
	background: #444455;
}

div.s2 {
	background: #885555;
} 

div.s3 {
	background:#777788;
}

@media (min-width: 992px) {
	.wrap {
		width:33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.wrap {
		width: 50%;
	}
	.lala {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.wrap {
		width: 100%;
	}
}

/*for index*/
a, a:visited, a:active {
	color:#445;
	text-decoration: none;
	font-size: 20px;
	margin-right: 20px;
	margin-top: 20px;
	padding: 20px;
	display: inline-block;
	border: 2px solid #445;
	border-radius: 8px;
	background-color: #eeeef3;
} 

a:hover {
	color:#667;
}

.but-wrap {
	text-align: center;
	margin-top: 30px;
}